<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>M.O.J.A</title>
</head>
<body>
    <h2> Usuń</h2>

    <form method="POST" action="{{ url_for('remove') }}">
        <input name="id" value="" />
        <button type="submit">Usuń pracownika</button>
    </form>

    <p>
        {% if error %}
        <strong class="error">Błąd: {{ error }}</strong>
        {% endif %}

        {% for message in get_flashed_messages() %}
        <strong class="success">{{ message }}</strong>
        {% endfor %}
    </p>

    <a href="/">Menu</a>
</body>
</html>
